
.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  height: 160px;
  border-radius: 1rem;
  padding: 2rem;
  /* margin-top: 40px;
  margin-left: 33%; */
}
.card2:hover{
  background-color:  #ff8a00;
  color: white;
}